body {
	margin: 0;
	border: 0;
	padding: 0;
	background: rgb(0, 40, 77);
	color: White;
}

.main {
	font-size: 20px;
	color: White;
	text-align: center;
}

.bottom-information {
	display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.scoreboard {
	padding: 20px;
	margin: 20px;
	font-family: Helvetica;
	background: rgb(128, 128, 128);
	border-radius: 20px;
	text-align: center;
}

h1 {
	font-family: Impact;
}

ul {
	list-style-type: none;
}

.symbols {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nextButton {
	color: white;
	background: rgb(128, 128, 128);
	font-family: Helvetica;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
}

#percentage-correct { 
	font-size: 80px;
}

#score {
	font-size: 40px;
}

#quizResults {
	font-size: 50px;
	text-align: center;
}

#num-questions, #num-correct, #num-incorrect {
	font-size: 30px;
}
